*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before {box-sizing:border-box;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4}
html, body {height:100%;}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none;color: #222;}
table {border-collapse:collapse;border-spacing:0}
fieldset{border: 0;}
ul{list-style: none;}
input{font-size: 16px; color:#767676;}

html{
  margin: 0;
  padding: 0;
  border: 0;
  color: #222;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Nanum Gothic';
  font-style: normal;
  letter-spacing: -0.05rem;
  line-height: 1.35em;
  vertical-align: baseline;
  background: transparent;
}

body{
  line-height: 1;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  min-width: 320px;
}